---
layout: page
---
{% assign restaurants = site.restaurants | where: "place-ids", contains page.place-id %}

{% for restaurant in restaurants %}
  {% if restaurant.title %}
    <h3>{{ restaurant.title }}</h3>
      <ul>
        {% if restaurant.description %}
          <li> <b>Description</b>: {{restaurant.description}} </li>
        {% endif %}
        {% if restaurant.what-to-order %}
          <li> <b>What to order</b>:
            <ul>
              {% for order in restaurant.what-to-order %}
                <li> {{ order }}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if restaurant.location %}
          <li> <b>Location</b>: <a href={{restaurant.location}} target=_blank>{{restaurant.location}}</a> </li>
        {% endif %}
        {% if restaurant.notes %}
          <li> <b>Notes</b>: {{restaurant.notes}} </li>
        {% endif %}
        {% if restaurant.photos %}
          <li> <b>Photos</b>: <a href={{restaurant.photos}} target=_blank>{{restaurant.photos}}</a> </li>
        {% endif %}
      </ul>
  {% endif %}
{% endfor %}
